* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
}
body {
    /* background-color: rgb(210, 202, 202); */
    display: flex;
    justify-content: center;
    height: 100vh;
}

.rainbow-bg{
    animation: rainbow-bg 10s linear;
    animation-iteration-count: infinite;
}

@keyframes rainbow-bg{
    100%,0%{
        background-color: rgb(255,0,0);
    }
    8%{
        background-color: rgb(255,127,0);
    }
    16%{
        background-color: rgb(255,255,0);
    }
    25%{
        background-color: rgb(127,255,0);
    }
    33%{
        background-color: rgb(0,255,0);
    }
    41%{
        background-color: rgb(0,255,127);
    }
    50%{
        background-color: rgb(0,255,255);
    }
    58%{
        background-color: rgb(0,127,255);
    }
    66%{
        background-color: rgb(0,0,255);
    }
    75%{
        background-color: rgb(127,0,255);
    }
    83%{
        background-color: rgb(255,0,255);
    }
    91%{
        background-color: rgb(255,0,127);
    }
}
#txtDiv {
    font-size: 4rem;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form {
    position: fixed;
    bottom: 10%;
}
#rawImages {
    display: flex;
    flex-direction: column;
}
#rawImages img {
    width: auto;
    height: 100vh;
    max-width: 90rem;
}
.fadeIn {
    animation: fadeIn 1.0s ease forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
    
#nextImg {
    position: fixed;
    left: 100%;
}

#nextImg img {
    width: 90vw;
    height: 100vh;
}

#userInput {
    font-size: 1.25rem;
    height: 2rem;
    text-align: center;
    border: 2px solid black;
    border-radius: 0.5rem;
    width: 10rem;
}
#thumbnails {
    display: none;
    position: fixed;
    margin-top: 1rem;
    box-shadow: rgb(28, 28, 28) 0rem 0rem 2rem 10px;
    border: 0.2rem solid black;
    /* border-radius: 1rem; */
}
#thumbnails:hover {
    cursor: pointer;
}

#thumbnails img {
    height: 3rem;
    width: 5rem;
}

#altTxtDiv {
    display: none;
    position: fixed;
    align-items: center;
    bottom: 0.75rem;
    color: white;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.689)
}

.sideBtn {
    display: none;
    justify-items: center;
    border: 3px solid gray;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: white;
}
.sideBtn:hover{
    cursor: pointer;
}
.arrows {
    width: 1rem;
    height: 1rem;
    
}
#next {
    position: fixed;
    top: 50%;
    right: 2rem;
}
#next:active {
    background-color: rgb(93, 93, 93);
}
#previous {
    position: fixed;
    top: 50%;
    left: 2rem;
}
#previous:active {
    background-color: rgb(93, 93, 93);
}

/* @media (max-width: 1290px) {
    #rawImages img {
        width: auto;
        height: ;
    }
    
} */