* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    background-color: rgb(210, 202, 202);
    display: flex;
    justify-content: center;
    height: 100vh;
}
#txtDiv {
    font-size: 2rem;
    text-align: center;
    position: fixed;
    top: 40%;
}
form {
    position: fixed;
    bottom: 10%;
}
#rawImages {
    display: flex;
    flex-direction: column;
}
#rawImages img {
    width: auto;
    height: 100vh;
}

#nextImg {
    position: fixed;
    left: 100%;
}

#nextImg img {
    width: 90vw;
    height: 100vh;
}

#userInput {
    font-size: 1.25rem;
    height: 2rem;
    text-align: center;
    border: 2px solid black;
    border-radius: 0.5rem;
    width: 10rem;
}
#thumbnails {
    display: none;
    position: fixed;
    margin-top: 1rem;
    box-shadow: rgb(28, 28, 28) 0rem 0rem 2rem 10px;
    border: 0.2rem solid black;
    /* border-radius: 1rem; */
}

#thumbnails img {
    height: 3rem;
    width: 5rem;
}

#altTxtDiv {
    display: none;
    position: fixed;
    align-items: center;
    bottom: 0.75rem;
    color: white;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.689)
}

.sideBtn {
    display: none;
    justify-items: center;
    border: 3px solid gray;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: white;
}
.arrows {
    width: 1rem;
    height: 1rem;
    
}
#next {
    position: fixed;
    top: 50%;
    right: 2rem;
}
#next:active {
    background-color: rgb(93, 93, 93);
}
#previous {
    position: fixed;
    top: 50%;
    left: 2rem;
}
#previous:active {
    background-color: rgb(93, 93, 93);
}